.hero {
	height: 63vh;
	z-index: -20;
	@apply absolute top-0 flex items-center justify-center w-full p-0 m-0 align-middle lg:relative lg:w-4/6 lg:p-6 lg:m-auto lg:mt-16;
}

.hero_image_container {
	@apply relative z-0 w-full h-full m-auto;
	clip-path: circle(42% at 50% 50%);
	background-color: #ffffc2;
	border-bottom: 24px solid #ffffc2;
	width: 60vw;
}


.hero_image_container img {
	clip-path: circle(42% at 50% 50%);
	height: 100%;
}

@media(max-width: 768px) {
	.hero_image_container img {
		clip-path: none;
	}

	.hero_image_container {
		clip-path: none;
		border-bottom: none;
		width: 100vw;
	}

	.hero {
		height: 75vh;
	}
}