.hero {
	z-index: 20;
	@apply absolute top-0 flex gap-x-8 items-center justify-center w-full p-0 m-0 lg:relative lg:w-8/12 lg:p-0 lg:py-20 lg:mx-auto lg:mt-0 h-full;
}

.hero_image_container {
	@apply relative z-0 w-[400px] h-[400px] m-auto mr-0;
	border-radius: 50%;
	border-bottom: 20px solid #FFFF8E;
}

.hero_image_container img {
	border-radius: 50%;
	border-bottom: 40px solid black;
}

@media(max-width: 1024px) {
	.hero_image_container img {
		clip-path: none;
	}

	.hero_image_container {
		clip-path: none;
		border-bottom: none;
		width: 100vw;
	}

	.hero {
		height: 75vh;
	}
}
