.hero {
	height: 63vh;
	@apply relative flex w-10/12 p-6 m-auto mt-16;
	width: 70vw;
}

.hero_image_container {
	@apply relative w-3/4 m-auto;
	clip-path: circle(42% at 50% 50%);
	min-width: 40%;
	height: 100%;
	width: 100%;
	background-color: #ffffc2;
	border-bottom: 24px solid #ffffc2;
}

.hero_image_container img {
	clip-path: circle(42% at 50% 50%);
	height: 100%;
}
