.GradientBg {
  width: 150vw;
  height: 130vh;
  background-color: grey;
  z-index: -30;
  left: -55%;
  position: absolute;
  transform: rotate(60deg);
  background-image: linear-gradient(#c0ffe8, #f4c9ff);
}

