.GradientBg {
  width: 85%;
  height: 110vh;
  background-color: grey;
  z-index: -30;
  left: -25%;
  position: absolute;
  top: 0;
  transform: rotate(55deg);
  background-image: linear-gradient(#c0ffe8, #f4c9ff);
}

