.NavLink {
	@apply p-1 mx-8 text-sm font-semibold transition-all hover:bg-secondary;
  letter-spacing: 0.5px;
	position: relative;
}

.NavLinkContainer {
	@apply hidden px-16 py-4 my-auto text-white rounded-full bg-primary lg:flex;
	position: relative;
}
