.NavLink {
	@apply mx-6 font-semibold text-sm;
	position: relative;
}

.NavLinkContainer {
	@apply flex my-auto bg-primary text-white py-4 px-16 rounded-3xl;
	border-radius: 120px;
	position: relative;
	box-shadow: inset -8px -6px 0 0 #FFFFC2, 10px 8px 0 #F5A9CB;
	z-index: 10;
}